@import './less/vars.less';

* {
    box-sizing: border-box;
}

.pixLogo {
    margin-left: @unit;
    width: 33px;
    height: 33px;
    right: 14px;
    position: absolute;
}

.cursor-pointer {
    cursor: pointer;
}

.account-display {
    right: 0;
    position: absolute;
    padding: @unit;
}

.pull-right {
    position: absolute;
    right: 0;
    padding-right: 22px;
}

.selectedButton {
    background-color: #eee;
}