* {
  box-sizing: border-box;
}
.pixLogo {
  margin-left: 5px;
  width: 33px;
  height: 33px;
  right: 14px;
  position: absolute;
}
.cursor-pointer {
  cursor: pointer;
}
.account-display {
  right: 0;
  position: absolute;
  padding: 5px;
}
.pull-right {
  position: absolute;
  right: 0;
  padding-right: 22px;
}
.selectedButton {
  background-color: #eee;
}
.successGraph {
  display: block;
}
